Repository hmcts/cnp-plum-batch, pull requests merged in 2023-01, with the labels that each got.

#6 DTSPO-12023 Update job chart version
  .github/dependabot.yml
  .github/renovate.json
  Dockerfile
  Jenkinsfile_CNP
  build.gradle
  charts/plum-batch/Chart.yaml
  charts/plum-batch/requirements.yaml
  dependency-check-suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: ns:cnp, rel:plum-batch-pr-6, prd:plum

#10 Rename values.preview.template.yaml to values.template.yaml
  charts/plum-batch/values.preview.template.yaml
  charts/plum-batch/values.template.yaml
  charts/plum-batch/values.yaml
Labels: ns:cnp, prd:plum, rel:plum-batch-pr-10

#11 Update Chart.yaml
  charts/plum-batch/Chart.yaml
Labels: ns:cnp, prd:plum, rel:plum-batch-pr-11

#12 update
  charts/plum-batch/Chart.yaml
  charts/plum-batch/values.yaml
Labels: ns:cnp, prd:plum, rel:plum-batch-pr-12

#13 testing
  charts/plum-batch/Chart.yaml
Labels: ns:cnp, prd:plum, rel:plum-batch-pr-13
